#solarsystem{
	background-image: url(images/background.jpg);
	background-size: 100% 100%;
}

#title{
	text-align: center;
	background-color: aqua;
	font-family: 'Abril Fatface', cursive;
	font-size: 64px;
	color: #F0F8FF;
}

#planetstable{
	table-layout: fixed;
	width: 75%;
	border-collapse: collapse;
	border: 2px solid #FF7F50;
}

#planetstable th{
	background-color: #F0E68C;
}
#planetstable tr:nth-child(even){
	background-color: #4B0082;
}
#planetstable tr:nth-child(odd){
	background-color: #20B2AA;
}
#copyright{
	text-align: center;
	background-color: #7FFFD4;
	font-family: 'Righteous', cursive;
	font-size: 32px;
	color: #9400D3;
}