#solarsystem{
	background-image: url(images/background.jpg);
	background-size: 100% 100%;
}

#title{
	text-align: center;
	background-color: aqua;
	font-family: 'Abril Fatface', cursive;
	font-size: 64px;
	color: #000080;
	top: 0;
}

#planetstable{
	width: 75%;
	height: 500px;
	resize: both;
	overflow: auto;
	margin: 0 auto 0 auto;
	border-collapse: collapse;
	border: 5px solid #FF7F50;
}

#planetstable th{
	background-color: #F0E68C;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	text-align: center;
	color: #8B008B;
	font-weight: bold;
	border: 3px solid white;
	padding: 5px;
	max-height: 150px;
	max-width: 150px;

}
#planetstable td{
	border: 3px solid white;
	padding: 5px;
}
#planetstable img{
	max-height: 100px;
	max-width: auto;
}
#planetstable tr{
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 18px;
	color: #98FB98;
	border: 3px solid white;
	max-height: 120px;
	max-width: 150px;
}
#planetstable tr:nth-child(even){
	background-color: #4B0082;
}
#planetstable tr:nth-child(odd){
	background-color: #20B2AA;
}
#copyright{
	text-align: center;
	background-color: #7FFFD4;
	font-family: 'Righteous', cursive;
	font-size: 32px;
	color: #9400D3;
}